.ProductDiv{
    width:600px; cursor:pointer; padding:10px;min-height:100px;

    background: rgb(232,232,232); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNWM2YzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(232,232,232,1) 0%, rgba(197,198,200,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(197,198,200,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(197,198,200,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(197,198,200,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(197,198,200,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(232,232,232,1) 0%,rgba(197,198,200,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#c5c6c8',GradientType=0 ); /* IE6-8 */
    border-top-left-radius:8px;
    border-top-right-radius:8px;
}

.ProductBottomOrange{ height:36px; background:#dd511c; color:white; border-bottom-left-radius:8px;
                   border-bottom-right-radius:8px; }  
.OrageProductTextL{font-size:16px; padding-top:7px; font-family: 'Adelle Bold'; padding-left:10px;}
.OrageProductTextR{font-size:12px; padding-top:10px; padding-right:10px;}